<html>

<% @lessons.each do |lesson| %>
  <h2><%= lesson.name %></h2>

  <ul>
    <% lesson.words.each do |word| %>
      <% if word.definition %>
        <li>
          <strong><%= word.value %></strong>:
          <% word.definition.split("/n").each do |line| %>
            <br>
            <%= line %>
          <% end %>
        </li>
      <% else %>
        <li>
          <em><%= word.value %></em> not found
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
</html>
