<% @lessons.each do |lesson| %>
  <h2><%= lesson.name %></h2>

  <ul>
    <% lesson.words.each do |word| %>
      <% if word.definitions.any? %>
        <li>
          <strong><%= word.value %></strong>:
          <% word.definition_lines.each do |line| %>
            <br>
            <%= line %>
          <% end %>
        </li>
      <% else %>
        <li>
          <strong><%= word.value %></strong>: <em>not found</em>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
